*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}
.top{
    background: #eee;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}
.top .top-logo{
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(0, 47, 167);
}
.top .top-search{
    margin-left: 25%;
    margin-right: 10%;

}
.top .top-search > form > input{
    height: 25px;
    width: 200px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid rgb(0, 47, 167);
    outline: none;
}
.top .top-search >form > button{
    height: 25px;
    width: 25px;
}
.top .top-account > span > a{
    color: #61666D;
    transition: 0.2s;
}
.top .top-account > span > a:hover{
    color: rgb(0, 47, 167);
}

.overall{
    width:900px;
    height: 500px;

    align-items: center;

    margin: 5% auto;
}

.content{
    position: relative;
    height: 400px;
}
.content ul{
    list-style-type: none;
}
.content ul > li{
    width: 600px;
    height: 300px;
    position: absolute;
    transition: 1s;


    opacity: 0;
}

.c0ntent ul>li img{
    width: 900px;
    height: 500px;

    border-radius: 5%;

    border: 5px solid #0e0600;
}
.content ol{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,75px);

    grid-template-rows: auto;


    grid-gap: 1em;
    gap: 1em;

    float: right;

    margin-top: 450px;
    list-style: none;
    top: 0;
    left: 0;
}

.content ol li{
    /* 设置每个小点的大小 */
    width: 25px;
    height: 10px;

    /* 设置里面的文字的大小 */
    font-size: 15px;

    /* line-height 属性设置行间的距离（行高） */
    line-height: 20px;

    /* 浮动左对齐 */
    float: left;

    /* 设置文本居中 */
    text-align: center;

    /* 把表格做成圆点 */
    border-radius: 2em;

    /* 设置圆点的边框 */
    border: 5px solid #af9d9d;
}

.show{
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 20px;
}
.show .category{
    background: #eee;
    height: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}
.show .category > p{
    font-weight: 600;
    padding-left: 10px;
    font-size: 25px;
}
.show .category > a{
    float: right;
    color: #61666D;
}
.show .category > a:hover{
    color: rgb(0, 47, 167);
}
.show .product{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.product-show{
    border: rgba(0,0,0,0%) solid 5px;
    display: flex;
    flex-direction: column;
    background: #eee;
    margin-right: 20px;
    width: 220px;
}
.product-show .pro-name{
    text-align: center;
    color: #61666D;
}
.product-show .pro-name:hover{
    color: #003399;
}
.product-show:hover{
    border: #003399 solid 5px;
}
.product-info{
    display: none;
    margin-right: 10px;
}
.category-box{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.category-box .product-list{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.category-box > a{
    text-align: center;
}
.item-show{
    margin-left:15%;
    display: flex;
    flex-direction: row;
}
.item-show > div{
    margin-right: 20px;
}
.item-show > div >h2{
    color: #003399;
}
.price{
    color: #FF4F00;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}
#item-type{
    margin-right: 5px;
}
#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
}
.popup {
    background-color: #ffffff;
    max-width: 400px;
    min-width: 200px;
    border-radius: 5px;
    margin: 100px auto;
    text-align: center;
}
.popup >form .popup-content{
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;

}
/* 弹出框的标题 */
.popup_title {
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #cccccc;
}



/* 弹出框的按钮 */
#overlay button {
    color: #778899;
    width: 40%;
    height: 40px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #337ab7;
}
.product-name{
    color: #61666D;
}
.item-name{
    color: #61666D;
}
.item-price{
    color: #FF4F00;
    font-weight: bold;
}
.item-totalprice{
    color: #FF4F00;
    font-weight: bold;
}


#productAutoComplete{
    background: #ccc;
    position: relative;
    top: 3px;
    left: 0px;
    width: 202px;
    display: none;
    z-index: 999;
    border-radius: 0 0 8px 8px;
}

#productAutoList{
    margin: 0;
    padding: 0;
    border: 1px solid #cccc;
}

.productAutoItem{
    list-style: none;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 4px;
    overflow: hidden;
    color: #18191C;
    cursor: pointer;
}
.productAutoItem:hover{
    background: #E3E5E7;
}
.Cart{
    width: 60%;
    background: #e2e2e2;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 10px;
    height: 80px;
    line-height: 80px;
}
.Cart > img {
    margin-right: 10px;
    border: 3px solid #003399;
    width: 66px;
}
.Cart > a{
    margin-right: 10px;
}
.Cart >label{
    margin-right: 10px;
}
.Cart >button{
    position: relative;
    top: 30px;
    margin-right: 10px;
    height: 20px;
}